:root {
  --color-bg: rgb(255, 255, 255);
  --color-bg-subtle: rgb(246, 248, 250);
  --color-header-bg: rgb(22, 27, 34);
  --color-text-default: rgb(31, 35, 40);
  --color-text-muted: rgb(132, 141, 151);
  --color-border-default: rgb(208, 215, 222);
  --color-accent-fg: rgb(47, 129, 247);
}

/* Main Layout */
body {
  font-size: 17px;
  font-family: 'Noto Sans', Arial, sans-serif;
  margin: 0;
  background-color: red;
  background-color: var(--color-bg);
  color: var(--color-text-default);
  line-height: 1.5;
}

.heading {
  background-color: var(--color-header-bg);
  padding: 16px;
  color: var(--color-text-default);
}

.heading a {
  color: var(--color-bg);
}

.content {
  max-width: 54em;
  margin: 48px auto 50vh;
}

main {
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
  padding: 32px;
  margin: 0 16px;
}

main > :last-child {
  margin-bottom: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
  padding-bottom: 0.3em;
  font-weight: 600;
}

h1,
h2 {
  border-bottom: 1px solid var(--color-border-default);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/* Paragraphs */
p {
  margin: 0;
  margin-bottom: 1em;
}

/* Links */
a {
  color: var(--color-accent-fg);
}

/* Lists */
ul,
ol {
  padding-left: 2em;
}

ul li + li,
ol li + li {
  margin-top: 0.25em;
}

li > :first-child,
li > :last-child {
  margin: 0;
}

/* Code */
pre {
  background-color: var(--color-bg-subtle);
  border-radius: 6px;
  margin: 0;
  margin-bottom: 1em;
  padding: 16px;
}

code {
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
}

code.inline {
  background-color: var(--color-bg-subtle);
  border-radius: 6px;
  padding: 0.1em 0.4em;
}

/* Block Quotes */
blockquote {
  margin: 0;
  margin-bottom: 1em;
  padding: 0 1em;
  color: var(--color-text-muted);
  border-left: 0.25em solid var(--color-border-default);
}

blockquote > :last-child {
  margin-bottom: 0;
}

/* Footnotes */
.footnotes {
  margin-top: 4em;
}

.footnote {
  display: flex;
}

.footnote > a {
  margin-right: 1em;
}

.footnote > :last-child {
  margin-bottom: 0;
}
